body {
    margin: 20px 100px;
    background-color: #cecece;
    font-family:monospace ;
}

.logo {
    position: relative;
    text-align: center;
}

.sign {
    width: 350px;
    margin-bottom: -6px;
    z-index: -1;
}

main {
    background-color: #ffffffb2;
    border: 5px solid #3769DA;
    padding: 0px 10px 10px 10px;
    border-radius: 6px;
    user-select: none;
}

main p {
    font-size: 16px;
}

.most p {
    color: #3769DA;
    font-weight: bold;
}

.most ol {
    font-size: 14px;
}

.guess-game {
    text-align: center;
    padding: 12px 0;
}

.guess-game span {
    font-size: 20px;
    color: #3769DA;
    border: 2px solid #3769DA;
    border-radius: 5px;
    padding: 2px 5px;
    transition: 0.2s;
    cursor: pointer;
}

.guess-game span:hover {
    color: #000;
    border: 2px solid #000;
}